<div class="sign-up-form">
  <mat-card-header>
    <div class="sign-up-form-header">
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <p class="sign-up-form-title">Welcome to WanderWise</p>
    <p class="sign-up-form-subtitle">Let's create your account</p>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-body">
      <div class="file-upload">
        <button class="circle-button" (click)="fileInput.click()">
          @if (imageSrc) {
          <img [src]="imageSrc" alt="Avatar" />
          } @else {
          <i class="fa-solid fa-image fa-2xl"></i>
          }
        </button>
        <mat-label>{{ selectedFile?.name?.slice(-10) ?? '' }}</mat-label>
        <input
          type="file"
          id="fileInput"
          (change)="onAvatarUpload($event)"
          #fileInput
          hidden
        />
        <!-- @if (this.avatar?.hasError('required')) {
          <mat-error>
            Pick your avatar.
          </mat-error>
        } -->
      </div>

      <!-- Name -->
      <mat-label>Your name</mat-label>
      <mat-form-field appearance="outline" class="full-width">
        <mat-icon matIconSuffix>account_circle</mat-icon>
        <input
          matInput
          type="text"
          formControlName="fullName"
          placeholder="Enter your name"
          required
        />
        @if (this.fullName?.hasError('required')) {
        <mat-error> Your name is required. </mat-error>
        } @if (this.fullName?.hasError('minlength')) {
        <mat-error> Your name must be at least 5 characters long. </mat-error>
        }
      </mat-form-field>

      <!-- Email -->
      <mat-label>Email</mat-label>
      <mat-form-field appearance="outline" class="full-width">
        <mat-icon matIconSuffix>mail</mat-icon>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Enter email address"
          required
        />
        @if (this.email?.hasError('required')) {
        <mat-error> Email is required. </mat-error>
        } @if (this.email?.hasError('email')) {
        <mat-error> Enter a valid email. </mat-error>
        }
      </mat-form-field>

      <!-- Password -->
      <mat-label>Password</mat-label>
      <mat-form-field appearance="outline" class="full-width">
        <mat-icon
          class="toggle-view"
          matIconSuffix
          (click)="toggleShowPassword()"
          >{{
            this.$showPassword() ? 'visibility' : 'visibility_off'
          }}</mat-icon
        >
        <input
          matInput
          type="{{ this.$showPassword() ? 'text' : 'password' }}"
          formControlName="password"
          placeholder="Enter password"
          required
        />
        @if (this.password?.hasError('required')) {
        <mat-error> Password is required. </mat-error>
        } @if (this.password?.hasError('minlength')) {
        <mat-error> Password must be at least 6 characters long. </mat-error>
        }
      </mat-form-field>

      @if (this.$submitState() === SubmitState.ERROR) {
      <mat-error> Sign up failed. Please try again. </mat-error>
      }

      <!-- Button -->
      <div class="sign-up-form-button">
        <button
          mat-flat-button
          color="primary"
          class="sign-up-button"
          type="submit"
          [disabled]="
            signupForm.invalid || this.$submitState() === SubmitState.FETCHING
          "
        >
          @if ($submitState()=== SubmitState.FETCHING) {
          <mat-spinner [diameter]="20" [strokeWidth]="2"></mat-spinner>
          } @else { Sign up }
        </button>
      </div>
      <div class="sign-up-form-footer">
        <span>Have already account? </span>
        <span class="sign-up" (click)="handleSignIn()" mat-dialog-close
          >Log in</span
        >
      </div>
    </form>
  </mat-card-content>
</div>
