<div class="archive-container">
  <!--  Header-->
  <div class="archive-header">
    <div class="slh-name">
      <p>Name</p>
    </div>

    <div class="slh-date">
      <p>Date</p>
    </div>

    <div class="slh-action">
      <button mat-icon-button (click)="onRemoveAllItem()"
              [disabled]="$pageData().items.length === 0 || this.$state() === SubmitState.FETCHING">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <!--  Content-->
  <div class="fetching-data">
    @if (this.$state() === SubmitState.FETCHING) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </div>

  <div class="archived-container">
    @if ($pageData() && $pageData().items && $pageData().items.length !== 0) {
      @for (item of $pageData()!.items; track item.id) {
        <app-archived-item
          [data]="item"
          [disableAction]="this.$state() === SubmitState.FETCHING"
          [onViewItem]="onViewItem"
          [onRemoveItem]="onRemoveItem"
        />
      }
    } @else {
      @if (this.$state() !== SubmitState.FETCHING) {
        <div class="empty-content">
          <p>No saved plan</p>
        </div>
      }
    }
  </div>

  <!--  Footer-->
  <mat-paginator
    [length]="$totalItems()"
    [pageSize]="10"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
