.login-form {
  padding: 30px;
}

.full-width {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 4px;
}

.login-form-header {
  display: flex;
  justify-content: flex-end;
}

.login-form-icon {
  text-align: center;
}

.login-form-title {
  text-align: center;
  font-weight: 600;
  font-size: x-large;
  margin-top: 30px;
  margin-bottom: 0;
}

.login-form-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: medium;
  color: gray;
  margin-bottom: 40px;
  margin-top: 2px;
}

.login-form-button {
  margin-top: 30px;
  padding-bottom: 4px;
}

.login-button {
  width: 100%;
}

.login-form-footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form-footer .sign-up {
  padding-left: 10px;
  font-weight: 600;
  color: #1668E3;
  cursor: pointer;
}

.toggle-view {
  cursor: pointer;
}

