/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Urbanist, Roboto, "Helvetica Neue", sans-serif; }*/

/* Define the primary theme color */
:root {
  --theme-primary-color: #0d6efd;
  --mat-sys-body-large-font: Urbanist, Roboto, 'Helvetica Neue', sans-serif;
}

/* Apply the theme color to global elements */
body {
  /*background-color: var(--theme-primary-color);*/
  /*color: #fff; !* Optional: Adjust text color for contrast *!*/
  margin: 0;
  font-family: Urbanist, Roboto, 'Helvetica Neue', sans-serif !important;
}

a {
  color: var(--theme-primary-color);
  text-decoration: none;
}

button {
  background-color: var(--theme-primary-color);
  border: none;
  color: #fff; /* Optional: Button text color */
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(
    13,
    110,
    253,
    0.06
  ); /* Slightly darker shade for hover */
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-flat-button,
.mat-mdc-stroked-button,
.mat-mdc-fab,
.mat-mdc-mini-fab {
  font-family: 'Urbanist', Roboto, sans-serif !important;
  font-size: 16px; /* Customize the font size */
  font-weight: 600; /* Customize the font weight */
  text-transform: uppercase; /* Optional: control text case */
  line-height: 1.5; /* Adjust line height */
}

.mdc-text-field--outlined,
.mat-mdc-form-field-type-mat-select,
.mat-mdc-form-field-infix {
  font-family: 'Urbanist', Roboto, sans-serif !important;
}

.mat-mdc-unelevated-button {
  font-family: 'Urbanist', Roboto, sans-serif !important;
}

/* Target Angular Material input fields */
.mat-mdc-input-element {
  font-family: Urbanist, Roboto, sans-serif !important;
  font-size: 16px; /* Customize the font size */
  font-weight: 400; /* Customize the font weight */
  color: #333; /* Customize text color */
}

/* Placeholder text styles */
.mat-mdc-form-field-label {
  font-family: Urbanist, Roboto, sans-serif !important;
  font-size: 14px; /* Adjust placeholder font size */
  color: #888; /* Customize placeholder text color */
}

/* Optional: Add border color for input fields on focus */
.mat-mdc-form-field,
.mat-mdc-form-field-appearance-outline,
.mat-mdc-form-field-outline {
  border-color: var(--theme-primary-color);
  font-family: Urbanist, Roboto, sans-serif !important;
}

.mat-mdc-option,
.mat-calendar-body-cell,
.mdc-list-item {
  font-family: Urbanist, Roboto, sans-serif !important;
  background: white !important;
}

.mat-calendar {
  background: white !important;
  box-shadow: var(
    --mat-select-container-elevation-shadow,
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  );
}

.mat-mdc-select-panel,
.mat-mdc-autocomplete-panel {
  background: white !important;
  box-shadow: var(
    --mat-select-container-elevation-shadow,
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  );
}

/* Change the disabled state */
.mat-mdc-form-field-disabled .mat-mdc-form-field-outline {
  border-style: dashed; /* Dashed border for disabled fields */
  border-color: #ccc; /* Grey color for disabled state */
}

.mat-mdc-form-field-error {
  font-family: Urbanist, Roboto, sans-serif !important;
}

/* Apply custom scrollbar styles to elements with the .custom-scrollbar class */
.custom-scrollbar {
  overflow-y: auto; /* Enable vertical scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
