<footer class="footer-container">
  <div class="footer-section">
    <h2 class="brand">WanderWise</h2>
    <p>Enjoy the touring with WanderWise.</p>
    <div class="social-icons">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>

  <div class="footer-section">
    <h4>Menu</h4>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/about-us">About Us</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Booking Plan</h4>
    <ul>
      <li><a href="#">Personal Trip</a></li>
      <li><a href="#">Group Trip</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Further Information</h4>
    <ul>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Get App</h4>
    <p>Stay connect with our app</p>
    <div class="social-icons">
      <a href="#"><i class="fa-brands fa-app-store-ios"></i></a>
      <a href="#"><i class="fa-brands fa-google-play"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 WanderWise. All Rights Reserved.</p>
  </div>
</footer>
